body {
	text-align: center;
	font-family: 'Nunito', sans-serif;
}

.box {
	width: 60%;
	margin: 20px auto;
	border: 1px solid darkgrey;
	padding: 20px;
}

#box_guess_word, #box_results {
	display: none;
}

.word {
	text-transform: uppercase;
	display: block;
	margin: 20px 0;
	font-size: 1.8em;
	letter-spacing: 0.5em;
}

.red {
	color: red;
}

#keyboard {
	width: 80%;
	margin: 0 auto;
}

.btn_letter {
	text-transform: uppercase;
	width: 2.5em;
	height: 2.5em;
	padding: 5px;
	margin: 5px;
}

